In [1]:
import pandas as pd
df=pd.read_csv("retail_sales_dataset.csv")
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [5]:
#Limpieza
print(df.isnull().sum())
#filas duplicadas
print(df.duplicated().sum())
#eliminar duplicados
df = df.drop_duplicates()
#columnas innecesarias
# df = df.drop(columns=["ColumnNameQueNoSirve"])

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64
0

In [10]:
#total gastado por cliente
df["Total"] = df["Quantity"] * df["Price per Unit"]
cliente_total = df.groupby("Customer ID")["Total"].sum().sort_values(ascending=False)
print(cliente_total.head(10))

Customer ID
CUST015    2000
CUST412    2000
CUST970    2000
CUST547    2000
CUST281    2000
CUST416    2000
CUST420    2000
CUST927    2000
CUST447    2000
CUST342    2000
Name: Total, dtype: int64

In [13]:
#total por producto
producto_total = df.groupby("Product Category")["Total"].sum().sort_values(ascending=False)
print(producto_total.head())

Product Category
Electronics    156905
Clothing       155580
Beauty         143515
Name: Total, dtype: int64

In [17]:
#clientes recurrentes
frecuencia_clientes=df.groupby("Customer ID").size().sort_values(ascending=False)
print(frecuencia_clientes.head())

Customer ID
CUST999    1
CUST001    1
CUST002    1
CUST003    1
CUST004    1
dtype: int64

Customer ID
CUST999    1
CUST001    1
CUST002    1
CUST003    1
CUST004    1
dtype: int64